<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Seas Data Analysis</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css"></link>
</head>
<body>
    <div class="header">
        <div>Team Seas Data Analysis</div>
    </div>
    <div class="donation-display">
        <div>
            <strong>Current Total Donation</strong><br><div class="donation-amount"> ${{ data.count[:2] + ',' + data.count[2:5] + ',' + data.count[5:]}}</div>
        </div>
        <div>
            <strong>Target</strong><br><div class="donation-amount">$30,000,000</div>
        </div>
        {% set temp = (30000000 - data.count|int)|string %}
        <div>
            <strong>Remaining</strong><br><div class="donation-amount"> ${{ temp[:2] + ',' + temp[2:5] + ',' + temp[5:]}}</div>
        </div>
    </div>
    <nav>
        <div class="nav-bar">
            <div>
                <a href="{{ url_for('home') }}">Home</a>
            </div>
            <div>
                <a href="{{ url_for('teams') }}">Most</a>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>